<ion-view title="Dribble">
  <ion-content>
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
      <ion-item class="list card" data-ng-repeat="image in imageList">

          <div class="item item-avatar">
              <img ng-src="{{image.player.avatar_url}}">
              <h2>{{image.player.username}}</h2>
              <p>{{image.player.location}}</p>
          </div>

          <div class="item item-image">
              <img data-ng-src="{{image.image_url}}">
          </div>
          <a class="item item-icon-left bar bar-stable" target="_top" data-ng-href="{{image.url}}">
          <i class="icon ion-lightbulb"><div class="button button-light">View Original</div></i>

          </a>

      </ion-item>
  </ion-content>
</ion-view>
